name: ci
on: [ push, workflow_dispatch ]

jobs:
  generate:
    runs-on: ubuntu-22.04

    permissions:
      contents: write
    
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Generate assets
        run: bash ./generate-all.sh

      - name: Deploy assets to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: assets
          destination_dir: .